//
$body-bg: #3A4663;

$border-radius: 10px;

// Typography
$text-btn: #434A59;

// Buttons
$bg-btn: #EAE3DC;
$bg-btn-shadow: 0px -4px 0px #B3A497 inset;
$bg-btn-primary: #D03F2F;
$bg-btn-primary-shadow: 0px -4px 0px #93261A inset;
$bg-btn-secondary: #647198;
$bg-btn-secondary-shadow: 0px -4px 0px #414E73 inset;

// Calculator components
$bg-calculator: #242D44;
$bg-output: #181F33;
